.cardContainer {
  width: 190px;
  display: flex;
  flex-direction: column;
}
.cardDetail {
  background-color: #ec1d24;
  height: 6px;
  width: 100%;
  position: absolute;
  transition: all 300ms;
}

.cardImage{
  width: 100%;
  height: 190px;
  position: relative;
}

.cardInfo {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  min-height: 80px;
  color: white;
  text-transform: uppercase;
  border-bottom-right-radius: 10px;
}
.cardLink {
  flex: 2;
  z-index: 10;
}
.cardLink:hover {
  text-decoration: underline;
}

.cardInfo svg {
  z-index: 10;
  transition: all 300ms;
}

.cardContainer:hover {
  .cardDetail {
    height: 100%;
  }
}

@media (width < 500px){
  .cardContainer{
    width: 180px;
  }
}