.container{
    padding: 24px 48px
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 16px;
    place-items: center;
}

@media (width < 500px){
    .container{
        padding: 8px;
    }
}